<div class="container">
    <header>
        <h1 class="text-center">Eat Da Burger!!</h1>
    </header>
    <div class="burger-img text-center">
        <img src="../assets/img/burger.png">
    </div>
</div>

<ul>
    {{#each burger}}
    <li>{{this.burger_name}}</li>
    {{/each}}
</ul>