<div class="container">
    <header>
        <h1 class="text-center">Eat Da Burger!!</h1>
    </header>
    <div class="burger-img text-center">
        <img src="../assets/img/burger.png">
    </div>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <form class="form-inline ">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Enter Burger</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Enter Burger">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>

        </div>
    </div>
    <section class="burgersStat">
    <div class="row">
        <div class="col">
            <ul>
                {{#each burger}} 
                {{#unless devoured}} 
                {{> burgers/burger-block}} 
                {{/unless}} 
                {{/each}}
            </ul>
        </div>
        <div class="col">
            <ul>
                {{#each burger}} 
                {{#if devoured}} 
                {{> burgers/burger-block}} 
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    </section>

</div>


