body{
    font-weight: 400;
    font-size:16px;
    line-height:1.7;
    font-family:"Lato", sans-serif;
    background: #E27D60;
    color: white;
}

.burgersStat {
    margin-top:45px;
}

.indi-burger{
    background-color: black;
    margin-top:5px;
    list-style: none;
    border-radius: 15px;
    padding: 5px;
}

.delete-burger{
    border:  1px solid red;
    color: white;
}