body{
    font-weight: 400;
    font-size:16px;
    line-height:1.7;
    font-family:"Lato", sans-serif;
    background: #E27D60;
    color: white;
}

.burgersStat {
    margin-top:45px;
}

.indi-burger{
    background-color: #000;
    margin-top:5px;
    list-style: none;
    border-radius: 15px;
    padding: 5px;
}

.delete-burger{
    border:  1px solid #C38D9E;
    color: white;
}

.devoured{
    color:lightgray;
    border: 1px solid gray;
    cursor: text;;
}

.delete-burger:hover{
    color: #C38D9E !important;
}

.not-devoured:hover{
    color: #41B3A3 !important;
}

.not-devoured{
    border: 1px solid #41B3A3;
    color:white;
}

.btn:hover{
    color:white;
}